.page {
	padding: ($whitespace * 7) 0 ($whitespace * 3) 0;
  @media (max-width: $breakpoint-tablet) {
    padding: ($whitespace * 4) 0 ($whitespace * 1) 0;
  }
  @media (max-width: $breakpoint-mobile) {
    padding: ($whitespace * 2) 0 ($whitespace * 1) 0;
  }
}

.book-title {
	@include size(sub-hero); 
	font-weight: 800;
	text-align: center;
  max-width: 75rem;
  margin: auto;
	margin-bottom: $whitespace * 2;
  line-height: 1.17;
}

  .wf-active .book-title {
     @include size(hero);
  }

.book-foreword {
	@include container;
  @include size(h3);
  text-align: center;
  opacity: 0.66;
  margin-bottom: $whitespace * 5;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $whitespace * 3;
    max-width: 40rem;
  }
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $whitespace * 2;
  }
}

.toc {
	@include container;
	text-align: center;
	margin-bottom: $whitespace * 8;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $whitespace * 5;
  }
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $whitespace * 3;
  }
	.title {
		@include size(h3);
		opacity: 0.9;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding-left: 0.1em;
		margin-bottom: $whitespace * 0.5;
	}
	hr {
    padding: 0;
    border: none;
    border-top: medium double color($grey, 700);
    color: color($grey, 700);
    text-align: center;
    width: 10rem;
    margin: auto;
    margin-bottom: $whitespace * 2.5;
	}
	hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
	}
	.level-1 {
    display: inline-block;
		text-align: left;
		@include styled-list(level-1, decimal, 2.5rem);
		& > li {
			@include size(h4);
			margin-bottom: $whitespace * 0.25;
		}
	}
	.level-2 {
		@include styled-list(level-2, disc, 1.75rem);
    margin-left: 1em;
		li {
			@include size(h4);
			opacity: 0.75;
		}
	}
	a {
		color: $body-color;
     @include link-underline-hover(white, $body-color, color($theme-color, 100));
		  text-decoration: none;
	}
}

.chapters__wrapper {
	@include container;
  .part {
    margin-bottom: $whitespace * 8;
    @media (max-width: $breakpoint-tablet) {
    margin-bottom: $whitespace * 5;
  }
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $whitespace * 3;
  }
  }
	.chapter {
		margin-bottom: $whitespace * 5;
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: $whitespace * 3;
    }
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: $whitespace * 2;
    }
	}
}

.version {
  color: color($grey, 500);
  a {
     color: color($grey, 500);
     background-position: 0 90%!important; // I'm lazy
     @include link-underline(white, color($grey, 500), color($grey, 500));
  }
  margin-top: $whitespace * 0.5;
  display: block;
}