/*
 * Box Sizing FTW:
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



html {
  font-size: 100%;
}

body {
  background: #e8ddcb url('background.gif') top repeat;
  line-height: 1.25;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 6em;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 1.4em;
  font-weight: 800;
  margin-bottom: 3.125rem;
  margin-top: 0;
  text-align: center;
}

h3 {
  font-family: 'Lato', serif;
  font-size: 1.25em;
  font-weight: 800;
  margin-bottom: .625rem;
  margin-top: 2.5rem;
}

p {
  font-family: 'Lora', serif;
  font-size: 1em;
  margin-bottom: .625rem;
  margin-top: 0;
  text-indent: 1em;
}

hr {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(10%, rgba(0, 0, 0, .1)), color-stop(90%, rgba(0, 0, 0, .1)), color-stop(100%, transparent));
  border: 0;
  height: 1px;
  margin: 2rem auto;
  width: 100%;
}

.body-container {
  margin: auto;
  max-width: 100%;
  padding: 0 2.5rem 2.5rem;
  width: 42rem;
}

.title {
  color: #b71c1c;
  margin: auto;
  max-width: 100%;
  padding: 2.5rem 2rem 0;
  width: 62.5rem;
}

.author {
  opacity: .35;
  text-transform: uppercase;
}

@media screen and (max-width: 65em) {
  .title {
    font-size: 5em;
	}
}

@media screen and (max-width: 53em) {
  .title {
    font-family: 'Lora', serif;
    font-size: 3em;
    margin-bottom: 1.25rem;
	}
}
