<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Typography Handbook</title>
    <meta name="description" content="A concise, referential guide on web typography best practices."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">

    
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Typography Handbook">
    <meta name="application-name" content="Typography Handbook">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!--[if lt IE 9]>
      <script src="assets/js/polyfill/html5-shiv.js"></script>
    <![endif]-->
  </head>
  <body>





		<div class="page">


			<h1 class="book-title">Typography Handbook</h1>
			<h2 class="book-foreword">A concise, referential guide on best web typographic practices.</h2>

			<section class="toc">
				<h2 class="title">Table of Contents</h2>
				<hr>
				<ol class="level-1">
					<li><a href="#introduction">Introduction</a></li>
					<li>
						<a href="#typographic-design">Typographic Design</a>
						<ul class="level-2">
							<li><a href="#visual-hierarchy">Visual Hierarchy</a></li>
							<li><a href="#gestalt-laws-in-typography">Gestalt Laws In Typography</a></li>
						</ul>
					</li>
					<li>
						<a href="#fonts">Fonts</a>
						<ul class="level-2">
							<li><a href="#choosing-fonts">Choosing Fonts</a></li>
							<li><a href="#web-font-formats">Web Font Formats</a></li>
							<li><a href="#font-loading">Font Loading</a></li>
              <li><a href="#opentype-features">OpenType Features</li>
						</ul>
					</li>
					<li>
						<a href="#web-style-guide">Web Style Guide</a>
						<ul class="level-2">
							<li><a href="#relative-units">Relative Units</a></li>
							<li><a href="#containers">Containers</li>
							<li><a href="#font-sizing">Font Sizing</li>
							<li><a href="#vertical-spacing">Vertical Spacing</li>
							<li><a href="#color">Color</li>
							<li><a href="#underlining">Underlining</li>
						</ul>
					</li>
          <li><a href="#conclusion">Conclusion</a></li>
				</ol>
			</section>


			<div class="chapters__wrapper">

				<section class="part" id="introduction">
					<h1>Introduction</h1>
					{% include "introduction/introduction.html" %}
				</section>

				<section class="part" id="typographic-design">
					<h1>Typographic Design</h1>
					{% include "typographic-design/visual-hierarchy.html" %}
          {% include "typographic-design/gestalt-laws-in-typography.html" %}
				</section>

        <section class="part" id="fonts">
          <h1>Fonts</h1>
          {% include "fonts/choosing-fonts.html" %}
          {% include "fonts/using-web-fonts.html" %}
          {% include "fonts/font-loading.html" %}
          {% include "fonts/opentype-features.html" %}
        </section>

        <section class="part" id="web-style-guide">
          <h1>Web Style Guide</h1>
          {% include "web-style-guide/relative-units.html" %}
          {% include "web-style-guide/containers.html" %}
          {% include "web-style-guide/font-sizing.html" %}
          {% include "web-style-guide/vertical-spacing.html" %}
          {% include "web-style-guide/color.html" %}
          {% include "web-style-guide/underlining.html" %}
        </section>

        <section class="part" id="conclusion">
          <h1>Conclusion</h1>
          {% include "conclusion/conclusion.html" %}

          <iframe src="https://ghbtns.com/github-btn.html?user=KennethWangDotDev&repo=typographyhandbook&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          
          <small class="version">Version 2.0.0 &mdash; Last Updated 10/24/2019&ensp;|&ensp;<a href="https://github.com/KennethWangDotDev/TypographyHandbook">View on GitHub</a></small>
        </section>

        <a href="#" class="back-to-top" title="Back to top">&uarr;</a>
			</div>

		</div>



    <!--[if lt IE 9]>
      <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="assets/js/polyfill/ie-love.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!--<![endif]-->
    <script src="/assets/js/merged.js"></script>
  </body>
</html>