// -----------------------------------------------------------------------------
// This file contains everything related to typography.
// -----------------------------------------------------------------------------

$line-height: 1.4;
$body-font: "proxima-nova", "Helvetica Neue", Helvetica, arial, sans-serif;

@font-face {
  font-family: 'proxima-nova';
  src: url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Bold.eot');
  src: url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Bold.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Bold.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Regular.eot');
  src: url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Regular.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Regular.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-RegularIt.eot');
  src: url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-RegularIt.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-RegularIt.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Proxima%20Nova/subset-ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


html {
  font-size: 100%;
}

body {
  line-height: $line-height;
  font-family: $body-font;
  color: $body-color;
}

/* 
 * Modular scale
 * http://www.modularscale.com/?1.25&em&1.33&web&text
*/

$type-scale-desktop: (
  hero: 6rem, // deviates from modular scale
  sub-hero: 5.202rem,
  h1: 3.911rem,
  h2: 2.941rem,
  h3: 2.211rem,
  h4: 1.663rem,
  p: 1.25rem,
  small: 1rem // deviates from modular scale
);

/* 
 * Modular scale
 * http://www.modularscale.com/?1.25&em&1.25&web&text
*/

$type-scale-tablet: (
  hero: 4.768rem,
  sub-hero: 3.815rem,
  h1: 3.052rem,
  h2: 2.441rem,
  h3: 1.953em,
  h4: 1.563rem,
  p: 1.25rem, 
  small: 1rem
);


/* 
 * Modular scale
 * http://www.modularscale.com/?1.1&em&1.25&web&text
*/

$type-scale-mobile: (
  hero: 4.196rem,
  sub-hero: 3.357rem,
  h1: 2.686rem,
  h2: 2.148rem,
  h3: 1.719rem,
  h4: 1.375rem,
  p: 1.1rem,
  small: 0.94rem // deviates from modular scale
);


$breakpoint-tablet: 75em;
$breakpoint-mobile: 45em;

@mixin size($level) {
  font-size: map-get($type-scale-desktop, $level);
  @media (max-width: $breakpoint-tablet) {
     font-size: map-get($type-scale-tablet, $level);
  }
  @media (max-width: $breakpoint-mobile) {
     font-size: map-get($type-scale-mobile, $level);
  }
}

$whitespace: $line-height * map-get($type-scale-desktop, p);

@mixin margin-bottom($level) {
  margin-bottom: $line-height * map-get($type-scale-desktop, p) * $level;
  @media (max-width: $breakpoint-tablet) {
     margin-bottom: $line-height * map-get($type-scale-tablet, p) * $level;
  }
  @media (max-width: $breakpoint-mobile) {
     margin-bottom: $line-height * map-get($type-scale-mobile, p) * $level;
  }
}

h1 {@include size(h1);}
h2 {@include size(h2);}
h3 {@include size(h3);}
h4 {@include size(h4);}
p {@include size(p);}
li {@include size(p);}
small {@include size(small);}

h1,
h2,
h3,
h4,
p,
ul,
ol,
small {
  @include margin-bottom(1);
}

blockquote {
  @include margin-bottom(1);
  @include size(p);
  padding: 1rem 0 1rem 1.6rem;
  border-left: 0.5rem solid color($theme-color);
  margin-top: $whitespace;
}

cite {
  &:before {
    content: '\2014 ';
  }
  color: color($grey, 400);
  display: block;
}

@mixin container($width: 48rem) {
	max-width: $width;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: $whitespace auto;
}

pre {
  @include margin-bottom(1);
  code {
    white-space: pre;
  }
}

code {
  background: #eeeeee;
  white-space: nowrap;
  @include size(small);
  padding: 3px 6px;
}